# Local .terraform Directory
**/.terraform/*
.terraform/*
.terraform*

# Terraform State Files
*.tfstate
*.tfstate.*

# Terraform Variable Files, may include sensitive data
*.tfvars

# CLI Configurations
.terraformrc
terraform.rc

# Ingore Mac/OSX system file, with the folder metada
.DS_Store

# Ignore Crash Log File
crash.log